/* -------------- CSS RESET -------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------- VARIABLES -------------- */
:root {
    --dk-purple:#020659;
    --blue-purple:#020873;
    --dk-blue:#030ABC;
    --md-blue:#2104D9;
    --lt-blue:#0D8DFB;
    --alt-lt-blue:#2699FB;
    --magenta:#590242;
    --white: white;
    --background-blue: #020659;
    --lt-gray: lightgray;

    --font: Verdana, Geneva, Tahoma, sans-serif;
}

/* -------------- ALL STYLES -------------- */
* {
    box-sizing: border-box;
}

/* -------------- GENERAL STYLES -------------- */
body {
    background-color: var(--background-blue);
    font-family: var(--font);
    font-size: 1em;
    line-height: 1.2;
    color: var(--white);
}
h1, h2, h3 {
    text-transform: uppercase;
}

h2, h3, p, dl, dd {
    font-size: 1em;
}

footer p {
    font-size: .75em;
}

a:focus {
    outline: 2px solid var(--lt-blue);
    border-radius: 5px;
}

/* -------------- CONTAINER STYLES -------------- */
header, main, nav, footer {
    background-color: var(--white);
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background: linear-gradient(90deg, var(--dk-blue), black);
    margin-top: 60px;
    padding: 5px 20px;
}

main, footer {
    color: var(--magenta);
}

/* -------------- HEADER STYLES -------------- */
nav {
    position: fixed;
    top: 0;
    background-color: var(--blue-purple);
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
}

label {
    z-index: 3;
}

.name {
    display: inline-block;
    position: absolute;
    top: 15px;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
    color: var(--white);
    width: 100%;
    text-align: center;
    font-variant: small-caps;
}

h1 {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px;
    max-width: 750px;
    margin: 0 auto;
    text-transform: uppercase;
}

header p {
    display: block;
    max-width: 750px;
    padding: 0 10px 15px 10px;
    margin: 0 auto;
}

/* -------------- TRENDING STYLES -------------- */
h2 {
    font-weight: bold;
    padding: 30px 0px 10px 20px;
}

#trending div {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

#trending article {
    display: flex;
    flex-direction: column;
    position: relative;
}

#trending h3 {
    order: 2;
    font-weight: bold;
    padding: 5px;
    background-color: var(--lt-gray);
    position: absolute;
    bottom: 29px;
    z-index: 1;
    width: 100%;
    opacity: 80%;
}

#trending p {
    order: 3;
    background-color: var(--lt-gray);
    padding: 5px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    opacity: 80%;
}

#trending img {
    position: relative;
}

#trending audio {
    position: absolute;
    top: 35%;
    width: 95%;
    align-self: center;
}

#trending a, #playlists a, #curated a {
    padding: 10px 25px;
    margin: 30px;
    background-color: var(--magenta);
    border-radius: 5px;
    color: var(--white);
    text-decoration: none;
}

/* -------------- SCROLLBAR STYLES -------------- */
#trending div::-webkit-scrollbar {
    width: 15px;
}

#trending div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px var(--magenta);
}

#trending div::-webkit-scrollbar-thumb {
    background: var(--magenta);
    border-radius: 5px;
}

#trending div::-webkit-scrollbar-thumb:hover {
    background: var(--background-blue);
}

#playlists div::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}

#playlists div::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px var(--background-blue);
}

#playlists div::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: var(--background-blue);
    border-radius: 5px;
}

#playlists div::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: var(--white);
}

/* -------------- PLAYLISTS AND CURATED STYLES -------------- */
#playlists h2, #curated h2 {
    margin: 20px 0 0 10px;
}

#playlists div {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    gap: 20px;
    background-color: var(--alt-lt-blue);
    margin-bottom: 20px;
}

#playlists article {
    background-color: var(--lt-blue);
    padding: 10px;
}

#playlists h3, #curated h3 {
    color: var(--white);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#playlists p, #curated p {
    color: var(--white);
    text-align: center;
}

#curated div {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    gap: 20px;
    background-color: var(--dk-blue);
    margin-bottom: 20px;
}

#curated article {
    background-color: var(--blue-purple);
    padding: 10px;
}

/* -------------- FOOTER STYLES -------------- */
footer {
    padding: 60px 0 20px 0;
}

small {
    display: block;
    text-align: center;
}

/* -------------- MENU STYLES -------------- */
li a:not(.name) {
    display: block;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    padding: 5px;
    background-color: var(--blue-purple);
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
}

ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    background-color:var(--dk-blue);
    width: 40%;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: 5px;
}

label span:after {
    top: -5px;
}

input {
    display: none;
}

input:checked ~ ul {
    max-height: 500px;
}

input:checked ~ label span {
    background: transparent;
}

input:checked ~ label span:before {
    transform: rotate(-45deg);
}

input:checked ~ label span:after {
    transform: rotate(45deg);
}

input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

/* -------------- AUDIO STYLES -------------- */
audio::-webkit-media-controls-mute-button {
    background-color: var(--white);
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: var(--white);
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(200,200,200, .7);
}

/* -------------- HOVER STYLES -------------- */
li a:hover:not(.name) {
    color: var(--dk-purple);
    background-color: var(--alt-lt-blue);
    box-shadow:  0px 0px 5px 0px #222;
}

.name:hover {
    color: var(--lt-blue);
}

#trending a:hover, #playlists a:hover, #curated a:hover {
    background-color: var(--background-blue);
    color: var(--lt-blue);
    box-shadow:  0px 0px 5px 0px #222;
}

audio::-webkit-media-controls-play-button:hover, audio::-webkit-media-controls-mute-button:hover {
    background-color: gray;
}

/* -------------- MEDIA QUERIES -------------- */
@media screen and (min-width:834px) {
    li a {
        font-size: .9em;
        text-transform: uppercase;
        color: var(--white);
        text-decoration: none;
        text-align: center;
        color: var(--white);
    }

    li a:hover:not(.name) {
        color:var(--lt-blue);
        background-color: var(--magenta);
        box-shadow: none;
    }

    .name {
        display: inline;
        position: static;
        top: 0;
        font-size: 1.5em;
        font-weight: bold;
        color: var(--white);
        text-transform: none;
        font-variant: small-caps;
    }

    ul {
        overflow: visible;
        position: absolute;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-content: center;
        align-items: center;
        top: 50%;
        padding: 0 10px;
    }

    label span, input {
        display: none;
    }

    #trending h3{
        bottom: 30px;
    }

    main > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 600px;
    }

    #playlists div, #curated div {
        flex-direction: column;
        height: 500px;
        overflow-y: scroll;
        overflow-x: auto;
    }

    #playlists img, #curated img {
        float: left;
        clear: left;
        margin-right: 10px;
    }

    #trending a {
        position: relative;
        left: 73%;
    }

    #playlists a, #curated a {
        position: relative;
        left: 50%;
        margin: 0;
    }

}